
@import "../../scss/abstracts/variables";
@import "../../scss/abstracts/mixins";

.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -25vh;

    @include respond(tab-port){
        padding: 22rem 0 35rem 0;
    }
}

.composition {
    

}