<div class="section-features">
  <div class="row">

    <div class="col-1-of-4">
      <div class="feature-box">
        <i class="feature-box__icon icon-basic-world"></i>
        <h3 class="heading-tertiary u-margin-bottom-small">
          Explore the World
        </h3>
        <p class="feature-box__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam odit
          eius culpa ex doloribus inventore incidunt earum vitae voluptates
        </p>
      </div>
    </div>

    <div class="col-1-of-4">
      <div class="feature-box">
        <i class="feature-box__icon icon-basic-compass"></i>
        <h3 class="heading-tertiary u-margin-bottom-small">
          Meet Nature
        </h3>
        <p class="feature-box__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam odit
          eius culpa ex doloribus inventore incidunt earum vitae voluptates
        </p>
      </div>
    </div>

    <div class="col-1-of-4">
      <div class="feature-box">
        <i class="feature-box__icon icon-basic-map"></i>
        <h3 class="heading-tertiary u-margin-bottom-small">
          Find your Way
        </h3>
        <p class="feature-box__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam odit
          eius culpa ex doloribus inventore incidunt earum vitae voluptates
        </p>
      </div>
    </div>

    <div class="col-1-of-4">
      <div class="feature-box">
        <i class="feature-box__icon icon-basic-heart"></i>
        <h3 class="heading-tertiary u-margin-bottom-small">
          Live healthier life
        </h3>
        <p class="feature-box__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam odit
          eius culpa ex doloribus inventore incidunt earum vitae voluptates
        </p>
      </div>
    </div>


  </div>
</div>
