@import '../../scss/abstracts/variables';
@import "../../scss/abstracts/mixins";

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.7), rgba($color-primary-dark,0.7)) ,url(../../../assets/img/nat-4.jpg);
    background-size: cover;
    margin-top: -10rem;

    @include respond(tab-port){
        padding: 10rem 0rem;
    }

    transform: skewY(-6deg);

    & > *{   //With the selector ">" just the direct childs will be choosen
        transform: skewY(6deg);
    }

}