<div class="popup" id="popup">
  <div class="popup__content">
    <div class="popup__left">
      <img src="../../../assets/img/nat-8.jpg" alt="Tour photo" class="popup__img"/>
      <img src="../../../assets/img/nat-9.jpg" alt="Tour photo" class="popup__img"/>
    </div>

    <div class="popup__right">
        <a href="#section-tours" class="popup__close">&times;</a>
      <h2 class="heading-secondary u-margin-bottom-small" >Start booking now</h2>
      <h3 class="heading-tertiary u-margin-bottom-small">
        Important &ndash; Please, read these terms bofore booking
      </h3>
      <p class="popup__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Euismod elementum
        nisi quis eleifend quam adipiscing vitae proin sagittis. Sapien
        pellentesque habitant morbi tristique senectus et netus et. Laoreet sit
        amet cursus sit amet dictum. Consequat interdum varius sit amet mattis
        vulputate enim nulla aliquet. Aenean vel elit scelerisque mauris
        pellentesque. Venenatis tellus in metus vulputate eu. Et malesuada fames
        ac turpis egestas integer eget aliquet. In nibh mauris cursus mattis
        molestie a iaculis at. 
      </p>
      <a href="" class="btn btn--green">Book now!</a>
    </div>

  </div>
</div>
