<div class="navigation">
    <input type="checkbox" class="navigation__checkbox" id="navi-toggle" >

    <label for="navi-toggle" class="navigation__button">
        <div class="navigation__icon">

        </div>
    </label>

    <div class="navigation__background">&nbsp;</div>

    <nav class="navigation__nav">
        <ul class="navigation__list">
            <li class="navigation__item"><a href="#" class="navigation__link">01 About Natours</a></li>
            <li class="navigation__item"><a href="#" class="navigation__link">02 Your Beneficts</a></li>
            <li class="navigation__item"><a href="#" class="navigation__link">03 Popular Tours</a></li>
            <li class="navigation__item"><a href="#" class="navigation__link">04 Stories</a></li>
            <li class="navigation__item"><a href="#" class="navigation__link">05 Book Now</a></li>
        </ul>
    </nav>
</div>
